body {
    background-color: rgb(43, 43, 43);
    color: white;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 20px;
}

table { 
    border-collapse: collapse; 
    width: 100%;
    text-align: start;
}

.table-header {
    background-color: rgb(65, 65, 65);
    
    th {
        padding-top: 15px;
        padding-bottom: 15px;
        border-collapse: collapse;
        padding-left: 10px;
        text-align: start;
    }
}

.table-row {
    border-bottom: 1px solid white;

    td {
        padding-top: 15px;
        padding-bottom: 15px;
        border-collapse: collapse; 
        padding-left: 10px;
    }
}

.controls-row {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    gap: 40px;
}

.form-select {
    height: 27.5px;
    width: 100px;
    outline: none;
    background-color: rgb(35, 35, 35);
    border: 1px solid rgb(65, 65, 65);
    color: white;
    border-radius: 5px;
}

.default-button {
    background-color: rgb(101, 90, 253);
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.default-button:hover {
    background-color: rgb(125, 186, 255);
}

.delete-button {
    background-color: rgb(255, 53, 17);
}

.delete-button:hover {
    background-color: rgb(255, 103, 93);
}

.favorite-button {
    background-color: rgb(35, 167, 2);
}

.favorite-button:hover {
    background-color: rgb(71, 236, 99);
}